@font-face {
  font-family: "Rafaella";
  src: url('fonts/fonnts.com-Rafaella-.otf');
}

body 
{
  margin: 40px 75px;
  background-color: #eebff4;
  font-family: "Rafaella", "Lobster", Serif;
  color: #5c3162;
}

h5
{
  font-size: larger;
}
p
{
  font-family: "Montserrat", sans-serif;
  line-height: 36px;
  font-size: large;
}

/* Flexboxes */

header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_container 
{
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav_bar 
{
  display: flex;
  gap: 38px;
}

.nav_images
{
  width: 200px;
  display: flex;
  justify-content: space-around;
}

/*  */

.underline 
{
  text-decoration: underline;
}

.signup_button 
{
  background-color: #5c3162;
  color: white;
  margin: -20px;
}
input
{
  border-radius: 12px;
  padding: 5px;
}

.full_img
{
  width: 120%;
  margin: 0px -78px;
}
.half_img
{
  width: 45%;
}
.logo
{
  width: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}
.icon
{
  width: 35px;
  object-fit: contain;
}



#PhiliciaQuote
{
  margin-top: 40px;
}
#MagnifyingGlass
{
  margin-left: 20px;
}
#Rafaella
{
  display:inline;
  font-family: "Rafaella", "Lobster", serif;
}
